@import "variables";

.contact-card {
  width: 100%;
  background-color: $white;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-column {
  width: 33.33%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
}

.column-text {
  color: $light-gray;
  font-size: 16px;
  line-height: 120%;
}

.arrow-column {
  width: 18%;
  padding-right: 0;
  img {
    width: 24px;
    height: 24px;
    min-width: 24px;
  }
}
