<div class='dialog-wrap'>
  <p class='heading' [innerHTML]='data.heading'></p>
  <div class='dialog-content'>

    <form [formGroup]="contactForm" class="dialog-form">
      <fieldset class='fieldset'>
        <mat-form-field appearance='outline' class='custom-text-field'>
          <mat-label>Full Name</mat-label>
          <input matInput type='text' formControlName="fullName">
        </mat-form-field>
      </fieldset>

      <fieldset class='fieldset'>
        <mat-form-field appearance='outline' class='custom-text-field'>
          <mat-label>Phone Number</mat-label>
          <input
            matInput
            type='text'
            [specialCharacters]="[ '-', '(', ')', ' ' ]"
            mask="(000) 00-000-0000"
            [validation]="false"
            [dropSpecialCharacters]="false"
            formControlName="phoneNumber">
        </mat-form-field>
      </fieldset>

      <fieldset class='fieldset'>
        <mat-form-field appearance='outline' class='custom-text-field'>
          <mat-label>Email Address</mat-label>
          <input matInput type='text' formControlName="emailAddress">
        </mat-form-field>
      </fieldset>

      <fieldset class='fieldset'>
        <mat-form-field appearance='outline'>
          <mat-label>Birth Date</mat-label>
          <input readonly [max]="todayMaxDate" matInput formControlName='birthDate' placeholder="DD.MM.YYYY" [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </fieldset>

      <fieldset class='fieldset'>
        <mat-form-field appearance='outline' class='custom-text-field'>
          <mat-label>Location</mat-label>
          <input matInput type='text' formControlName="location">
        </mat-form-field>
      </fieldset>
    </form>

    <div class='action-buttons'>
      <button *ngIf="data.contactData" mat-button color="warn" class="custom-button" (click)='deleteClick()'>
        Delete Contact
      </button>
      <div class="right-wrap">
        <button mat-button color="primary" class="custom-button" (click)='cancelClick()'>
          Cancel
        </button>
        <button mat-raised-button color="primary" class="custom-button" [disabled]="!contactForm.valid" (click)='submitClick()'>
          Save
        </button>
      </div>
    </div>
  </div>
</div>
