<main>

  <app-header></app-header>

  <section class="page-section">
    <div class="container profile-container">
      <section class="profile">

        <div class="profile-row">
          <div class="image avatar">
            <img src="assets/images/user-avatar.png">
          </div>
          <span class="row-text username ellipsis-text" [innerHTML]="contact?.fullName"></span>
        </div>

        <div class="profile-row">
          <span class="row-text title">Phone Number</span>
          <span class="row-text ellipsis-text" [innerHTML]="contact?.phoneNumber"></span>
        </div>

        <div class="profile-row">
          <span class="row-text title">Email Address</span>
          <span class="row-text ellipsis-text" [innerHTML]="contact?.emailAddress"></span>
        </div>

        <div class="profile-row">
          <span class="row-text title">Date of Birth</span>
          <span class="row-text ellipsis-text" [innerHTML]="contact?.birthDate | date:'dd.MM.yyyy'"></span>
        </div>

        <div class="profile-row">
          <span class="row-text title">Location</span>
          <span class="row-text ellipsis-text" [innerHTML]="contact?.location"></span>
        </div>

        <div class="action-buttons">
          <button mat-raised-button color="primary" class="custom-button" (click)='editContact()'>
            Edit Contact
          </button>
        </div>

      </section>
    </div>
  </section>

</main>
