@import "reset";
@import "shared-styles";

* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 1150px;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
