<main>

  <app-header></app-header>

  <section class="page-section">
    <div class="container profile-container">
      <section class="profile">

        <div class="profile-row">
          <div class="image avatar">
            <img src="assets/images/user-avatar.png">
          </div>
          <span class="row-text username ellipsis-text">Yuriy Nedilsky</span>
        </div>

        <div class="profile-row">
          <span class="row-text title">Phone Number</span>
          <span class="row-text ellipsis-text">+380123123123123</span>
        </div>

        <div class="profile-row">
          <span class="row-text title">Email Address</span>
          <span class="row-text ellipsis-text">yuriy.nedilsky&#64;gmail.com</span>
        </div>

        <div class="profile-row">
          <span class="row-text title">Date of Birth</span>
          <span class="row-text ellipsis-text">11.08.2001</span>
        </div>

        <div class="profile-row">
          <span class="row-text title">Location</span>
          <span class="row-text ellipsis-text">Lviv City</span>
        </div>

      </section>
    </div>
  </section>

</main>
